---
---

/* Core */
@import "bootstrap";


/* FONTS */
@import "font-awesome";
/*
 * Author: Ariel Sperduti
 * URL: http://ariel.sperduti.com.ar
 *
 */

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,300,700,900');

/* OVERALL ASPECT */

body {
    background-color: #E2e2d1;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

@media (min-width: 768px) {
  body {
    font-size: 22px;
  }
}


@media (min-width: 1600px) {
  body {
    font-size: 32px;
  }
}


/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-size: 2em;
    font-weight: 300;
    color: #FFFFFF;
}

.h1index {
    font-family: "Raleway";
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 4em;
    line-height: 1.8em;
    color: #fff; 
}

.h2index {
    font-family: "Raleway";
    font-size: 1.85em;
    line-height: 1em;
    font-weight: 100;
    margin-bottom: 30px;
    color: #fff;
}

.mobile-image .mobile {
    float: right;
    text-align: right;
    position: relative;
    max-width: 70%;
    max-height: 70%;
}
.mobile-image {
    z-index: 99999999;
}
.video-wrapper {
    width: 90%;
    height: 90%;
    position: absolute;
    z-index: 1;
    left: 5.5%;
    top: 11%;
}

video {
    width: 100%!important;
    height: auto!important;
    display: inline-block;
    vertical-align: baseline;
}

/* Paragraph & Typographic */
p {
    text-align: justify;
}

.centered {
    text-align: center;
}

.justified {
    text-align: justify;
}


.blue {
    background-color: #2b93cc;
    font-family: "Lato";
    font-weight: 300;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    padding: 35px;
}


/* Light Grey */
.lg {
    padding: 100px 0;
    background-color: #FFFFFF;
    color: #2b93cc;
    text-align: center;
    padding: 20px;
}

.lg p{
	color: #666;
	text-align: justify;
}

.title-head {
    text-transform: none;
    color: #333;
    font-size: 1.3em;
    line-height: 1em;
    font-weight: 500;
}

.icon-head {
    text-transform: none;
    font-size: 50px;
    line-height: 1em;
    font-weight: 500;
    color: #2b93cc;
    padding: 20px;   
}

.generich2 {
    text-transform: none;
    color: #333;
    font-size: 2em;
    line-height: 1em;
    font-weight: 500;
    margin-bottom: 30px;
}
.generich4 {
    text-transform: none;
    color: #333;
    font-size: 1.3em;
    line-height: 1em;
    font-weight: 500;
    margin-bottom: 50px;
}

.caracteristicas:hover {
    background: #D3E1FD;
}

.conocemas{
    box-sizing: border-box;
}

#footer {
    background-color: #273140;
    padding-top: 20px;
    color: #555;
}

/* Links */
#footer a {
    color: #FFFAFF;
    font-size: 1.25em;
    line-height: 1em;
    font-weight: 500;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

#footer  a:hover,
#footer  a:focus {
    color: #2b93cc;
    text-decoration: none;
    outline: 0;
}

#footer  a:before,
#footer  a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

/* Sidebar Sticky */
.affix-top,.affix{
	position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top:30px;

  }
  
  #sidebar.affix-bottom {
    position: relative;
  }

  #sidebar.affix {
    position: fixed;
    right: 0;
  }
   #sidebar{
    right: 0;
  }
}
