  {% if site.socialmedia.facebook %}
  <a href="http://facebook.com/{{ site.socialmedia.facebook }}"><i class="fa fa-facebook"></i></a>
  {% endif %}

  {% if site.socialmedia.youtube %}
  <a href="http://youtube.com/{{ site.socialmedia.youtube }}"><i class="fa fa-youtube"></i></a>
  {% endif %}

  {% if site.socialmedia.twitter %}
  <a href="http://twitter.com/{{ site.socialmedia.twitter }}"><i class="fa fa-twitter"></i></a>
  {% endif %}

  {% if site.socialmedia.instagram %}
  <a href="http://instagram.com/{{ site.socialmedia.instagram }}"><i class="fa fa-instagram"></i></a>
  {% endif %}

    {% if site.socialmedia.googleplus %}
  <a href="https://plus.google.com/+{{ site.socialmedia.googleplus }}"><i class="fa fa-google-plus"></i></a>
  {% endif %}
