{% assign base_url = site.baseurl | prepend: site.url %}


    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% if site.favicon %}
    <link rel="icon" type="image/png" href="{{ base_url }}/{{ site.favicon }}" />
    {% endif %}
    <!-- Custom Styles -->
    <!--<link rel="stylesheet" type="text/css" href="{{ base_url }}/css/main.css" />-->

    <!-- Latest compiled and minified bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <!-- Froala blocks -->
    <link type="text/css" rel="stylesheet" href="css/froala_blocks.css">

    <!-- DeviceMockups -->
    <link rel="stylesheet" href="http://pixelsign.github.io/html5-device-mockups/dist/device-mockups.min.css">

    <style>
      .fdb-block{
          color: #211c1d;
      }

      .bg-blue{
          background-color: #00aad4;
          color: #FFFFFF;
      }

      .btn.btn-white{
          color: #00aad4;
      }

      .bg-dark{
          background-color: #211c1d!important;
      }

      .blue-icon{
          color: #00aad4;
      }
    </style>

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ base_url }}/feed.xml" />
